*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("readyimg/The paper.jpg");
    font-size: 40px;
    text-align: center;
}
.container{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 40px;
}
button{
    height: 30px;
    width: 300px;
    border-radius: 20px;
}
img{
    border-radius: 20px;
}
@media (max-width: 166.25mm) and (max-width: 254.69mm) {
    h1{
        color: red;
    }
}
