*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("readyimg/The paper.jpg");
    font-size: 40px;
    text-align: center;
}
.container{
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 40px;
}
button{
    height: 30px;
    width: 300px;
    border-radius: 20px;
}
img{
    border-radius: 20px;
}
@media (max-width: 166.25mm) and (max-width: 254.69mm) {
    h1{
        color: red;
    }
}
.loading {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    position: relative;
    left: 0%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.background-loading{
    width: 180px;
    height: 150px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #d5c8c8;
}