<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
    <link rel="stylesheet" href="/static/css/sobres.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
    <h1 id="title">Sobre mim</h1>
    <div class="perfil">
        <img src="/static/css/readyimg/placeholder.png" alt="foto do perfil"> 
        <p class="sobre" id="descricao"></p>
    </div>
    <script src="/static/js/sobres.js"></script>
</body>
</html>