<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
    <link rel="stylesheet" href="/static/css/resposta.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Essa talvez possa ser a solução</h1>
        <!--Mensagem feita por IA-->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cum esse ut. Tempora quia voluptate totam explicabo itaque nam qui quibusdam, quas sed perspiciatis consequuntur officiis quod necessitatibus veritatis accusamus?
        Assumenda enim iure accusantium quibusdam.</p>
        <div class="background-loading">
            <div class="loading"></div>
        </div>
    </div>
    <script src="/static/js/usuariosolucao.js"></script>
</body>
</html>
